.header {
  align-items: start;
}

.header__theme-menu {
  justify-self: end;
  margin: 65px 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom-color: currentColor;
}

.header__text {
  margin: 55px 0;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  text-align: left;
}

/* #endregion Конец блока header */

@media (width >= 768px) {
  .decorative-rec-icon {
    right: 28px;
    top: 20px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    padding-left: 0;
  }

  .header__theme-menu {
    margin-top: 170px;
    margin-bottom: 70px;
  }

  .header__text {
    justify-self: end;
    width: clamp(364px, calc(100% / 2 - 10px), 491px);
    max-width: 491px;
    text-align: left;
  }
}

@media (width >= 1024px) {
  .header__title,
  .footer__title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }

  .header__theme-menu {
    justify-self: center;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}