.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vb;
  padding: 10px;
  margin-bottom: 44px;
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--rec-decoration-clr);
  visibility: var(--rec-decor-visibility);
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.decorative-rec-icon::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-decoration-clr);
  background-color: var(--rec-decoration-clr);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  font-size: var(--text-font-size);
  line-height: var(--button-line-height);
  background: transparent;
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 2px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--button-text-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-text-color);
}

.header__title {
  margin: 0;
  margin-left: -20px;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: var(--title-line-height);
  color: var(--title-color);
  justify-self: start;
  align-self: center;
}

.header__text {
  justify-self: end;
  align-self: center;
  max-inline-size: 364px;
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -40px;
  }

  .decorative-rec-icon {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-inline-size: 491px;
  }
}
