.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.pictures {
  gap: 10px;
}

.how-section__subtitle {
  font-weight: 400;
}

.how__concentrate {
  display: grid;
  gap: 20px;
}

.how-concentrate-content {
  display: grid;
  gap: 20px;
}

.tips-sublist {
  gap: 20px;
}

/* #endregion Конец блока main */

@media (width >= 768px) {
  .main__section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .what-reduces-list {
    grid-column: 1 / -1;
  }

  .pictures {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .tips-sublist {
    grid-column: 2;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__list-item:first-child,
  .gallery__list-item:last-child {
    grid-column: span 2;
  }

  .gallery__list-item:nth-child(2),
  .gallery__list-item:nth-child(3) {
    grid-row: span 2;
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .how__concentrate {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
    gap: 20px;
    align-items: start;
  }

  .how-concentrate-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .how__concentrate > .section__title {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
  }

  .how__concentrate > .how-concentrate-list {
    grid-column: 2;
    grid-row: 1;
  }

  .how-concentrate-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .how-concentrate-list .section__subtitle {
    margin: 0;
  }
}

@media (width >= 1024px) {
  .main__section {
    column-gap: 30px;
  }

  .what-reduces-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .list__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
  }
}