.how__concentrate {
  display: grid;
  gap: var(--gap);
}

.how-section__subtitle {
  font-weight: normal;
}

.tips-sublist {
  display: grid;
  gap: var(--gap);
}

@media (min-width: 768px) {
  .how__concentrate {
    grid-template-columns: 1fr 2fr;
    margin-top: 80px;
  }
}
