.what__reduces {
  display: grid;
  gap: var(--gap);
}

@media (min-width: 768px) {
  .what__reduces {
    margin-top: 80px;
  }
}

@media (min-width: 1024px) {
  .what-reduces-list {
    grid-template-columns: repeat(3, 1fr);
  }
}