.why__concentrate {
  display: grid;
  gap: var(--gap);
}

@media (min-width: 768px) {
  .why__concentrate {
    grid-template-columns: 1fr 2fr;
    margin-top: 0;
  }

  .section__title {
    margin: 0;
  }

}

@media (min-width: 1024px) {
  .why__concentrate {
    grid-template-columns: 1fr 2fr;
  }
}