.section__subtitle {
  margin-top: 20px;
}

@media (min-width: 768px) {

  .why__concentrate {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap);
    margin: 81px 0 0;
  }
}

@media (min-width: 1024px) {

  .why__concentrate {
    grid-template-columns: 314px 1fr;
  }
}