.page.theme_dark {
  --brand-color: #ff0070;
  --brand-bg-color: #000028;
  --primary-heading-color: #db00ff;
  --main-text-color: #f1b2ce;
  --interactive-hover-color: #ff007066;
  --section-heading-color: #ff0070;
  --decorative-element-color: #ff0070;
  --navigation-color: #ff0070;
  --indicator-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}
