/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url('../images/cover-image-dark.png');
  --rec-decor-visibility: visible;

  --text-color: #F1B2CE;
  --background-color: #000028;
  --accent-color: #FF0070;
  --rec-decoration-clr: #FF0070;
  --decor-color: #FF0070;

  --title-color: #DB00FF;
  --titles-color: #FF0070;
  --accented-text-color: #000028;

  --button-text-color: #FF0070;
  --button-hover-color: #FF0070;
  --button-active-border: #FF0070;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */

  :root {
    --cover-image: url('../images/cover-image-dark.png');
    --rec-decor-visibility: visible;
    --text-color: #F1B2CE;
    --background-color: #000028;
    --accent-color: #FF0070;
    --rec-decoration-clr: #FF0070;
    --decor-color: #FF0070;

    --title-color: #DB00FF;

    --button-text-color: #FF0070;
    --button-hover-color: #FF0070;
    --button-active-border: #FF0070;


  }
}
