.page.theme_light {
  --background-image: url(../images/cover-image-light.png);
  --brand-color: #ff8dcb;
  --brand-bg-color: #353430;
  --primary-heading-color: #ffc2e6;
  --main-text-color: #353430;
  --interactive-hover-color: #32312d66;
  --decorative-element-color: #353430;
  --navigation-color: #353430;
  --indicator-color: transparent;
  --section-heading-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --brand-color: #ff8dcb;
    --brand-bg-color: #353430;
    --primary-heading-color: #ffc2e6;
    --main-text-color: #353430;
    --interactive-hover-color: #32312d66;
    --decorative-element-color: #353430;
    --navigation-color: #353430;
    --indicator-color: transparent;
    --section-heading-color: #353430;
  }
}