@import 'sections/header.css';
@import 'sections/main/why__concentrate.css';
@import "sections/main/what__reduces.css";
@import "sections/main/how__concentrate.css";
@import "sections/main/pictures.css";
@import "sections/main/main.css";
@import "sections/footer.css";
/* === Основные стили проекта === */

.page {
  margin: 0;
  padding: 10px;
  font-family: var(--page-font-family), "IBM Plex Mono", monospace;
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  color: var(--text-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }
}

/* === Акцентные элементы === */
.accented-text {
  background-color: var(--accent-color);
  color: var(--accented-text-color);
}

.accented-text-bold {
  font-weight: 700;
}

.accented-shadow-text {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

/* === Декор === */
.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--decor-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

@media (min-width: 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
}

/* === Разделы и текст === */
.section__title {
  margin: 50px 0 20px;
  font-size: var(--text-font-size);
  color: var(--titles-color);
}

.section__subtitle {
  margin-top: 20px;
  font-size: var(--text-font-size);
}

.text__subtitle {
  margin: 10px 0 20px;
}

/* === Основной контент === */
.main {
  display: grid;
  gap: var(--gap);
}

.list {
  display: grid;
  gap: var(--gap);
}

.list__item {
  display: grid;
  gap: 10px;
}

.link {
  text-decoration: none;
}