@import "sections/header.css";
@import "sections/main.css";
@import "sections/footer.css";

.page {
  margin: 0 auto;
  padding: 10px;
  color: var(--main-text-color);
  font-size: 18px;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family), serif;
}

.accented-background {
  color: var(--brand-bg-color);
  background-color: var(--brand-color);
}

.accented-shadow-text {
  color: var(--primary-heading-color);
  font-weight: 700;
  font-size: var(--mobile-heading-font-size);
  line-height: 82.5%;
}

.accented-text {
  font-size: 18px;
  line-height: 130%;
}

.accented-text-bold {
  font-weight: 700;
}

.section__title {
  margin: 0 0 20px;
  color: var(--section-heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.section__text {
  margin: 10px 0 0;
  line-height: 130%;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--brand-color);
}

/* Медиа-запросы */
@media (min-width: 768px) {
  .page {
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .accented-shadow-text {
    font-size: var(--desktop-heading-font-size);
  }
}